body {
    font-family: 'Nunito', sans-serif;
    background-color: #192426;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
}

.container {
    background-color: #1d7c5c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #91a1a0;
}

input, select, button {
    width: 100%;
    padding: 8px;
    border: 1px solid #91a1a0;
    border-radius: 4px;
    font-size: 16px;
    color: #192426;
}

button {
    background-color: #1fcd8d;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #1d7c5c;
}

.resultados {
    margin-top: 20px;
    padding: 10px;
    background-color: #91a1a0;
    border-radius: 4px;
    color: #192426;
}